 {% extends 'base.html' %} {% block content %}

<main class="container py-5">

    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit quibusdam, doloribus facere totam unde illo, non amet excepturi, aperiam perferendis maxime optio illum accusamus. Esse consequuntur laborum quibusdam iusto veniam! Tempora, nesciunt
            vel. Laudantium doloribus sequi dolores nesciunt consequuntur quasi veritatis culpa cupiditate. Minima sapiente, culpa, aspernatur incidunt harum autem voluptas natus ab quasi voluptate deserunt vitae. Eligendi facere iure modi cupiditate
            placeat deleniti officiis inventore, sunt possimus similique ipsa nostrum soluta optio totam consequuntur aliquid molestias aliquam reprehenderit quod praesentium fugit. Laudantium distinctio expedita beatae itaque obcaecati, illum quam velit
            nam deserunt exercitationem sequi consequuntur, ab alias dolore ipsa.</p>

        <div class="text-center">

            <a class="btn btn-primary" href="/singin/">
                    Singin
                </a>

            <a class="btn btn-primary" href="/singup/">
                    Singup
                </a>
        </div>

    </section>
</main>
{% endblock %}